:root {
  --nt-font-body: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --nt-font-title: 'Bebas Neue', 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --nt-primary: #19083b;
  --nt-primary-rgb: 4, 27, 46;
  --nt-accent: #eec221;

  font-family: var(--nt-font-body);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #fffcf4;
  color: #0f0f0f;
  overflow-x: hidden;
}

/* #root {
  width: 100%;
  overflow-x: hidden;
} */

img,
svg,
video,
canvas {
  max-width: 100%;
}

a {
  color: inherit;
}