.nt-adminLayout {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.nt-adminMain {
  min-width: 0;
}

.nt-adminContent {
  padding: 14px;
}

@media (max-width: 980px) {
  .nt-adminLayout {
    grid-template-columns: 1fr;
  }
}
